<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Loan Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light d-flex align-items-center" style="height:100vh;">
  <div class="container text-center">
    <div class="bg-white p-5 shadow rounded">
      <h1>🏦 Loan Approval Predictor</h1>
      <p class="lead mt-3">Find out if your loan will be approved instantly!</p>
      <a href="/predict_form" class="btn btn-success btn-lg mt-3">Start Prediction</a>
    </div>
  </div>
</body>
</html>
